@use "@styles/variables";

.gnbToggleBtn {
  display: none;
  position: relative;
}

.gnbDummy {
  display: none;
  position: fixed;
  top: 7rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  &.on {
    display: block;
  }
}

.gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.dep1Ul {
  display: flex;
  gap: 2.5rem;
}

.dep1Li {
  position: relative;

  &.on .dep1A {
    color: variables.$color-primary-100;
  }

  &.on .dep1A.subYes::after {
    transform: rotate(-180deg);
  }

  &.on .dep2Ul {
    display: block;
  }
}

.dep1A {
  display: inline-block;
  font-size: variables.$fs-body-400;
  font-weight: 700;
  line-height: 7rem;
  padding: 0 2rem;
  transition: 0.3s;

  &:hover {
    color: variables.$color-primary-100;
  }

  &.subYes {
    position: relative;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 7px;
      right: 0;
      width: 30px;
      height: 30px;
      border: 1px solid variables.$color-gray-200;
      border-radius: variables.$border-radius-circle;
      background: url("../../public/images/ico_arrow_down.svg") no-repeat center /
        20px;
      transition: 0.3s;
    }
  }
}

.dep2Ul {
  display: none;
  position: absolute;
  top: calc(100% - 10px);
  left: 50%;
  transform: translateX(-50%);
  width: 14rem;
  padding: 1.5rem 0;
  text-align: center;
  border: 1px solid variables.$color-border-gray;
  background: variables.$color-white;
  box-shadow: variables.$box-shadow;

  &.subOpen {
    display: block;
  }
}

.dep2A {
  display: block;
  font-size: variables.$fs-body-200;
  font-weight: 500;
  padding: 0.7rem 1rem;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

@media all and (max-width: 1024px) {
  .gnbToggleBtn {
    display: block;
    margin-left: auto;
  }

  .gnb {
    width: 100%;
    left: auto;
    right: 0;
    top: calc(100% + 1px);
    transform: none;
    background: variables.$color-white;
  }

  .dep1Ul {
    display: none;
    padding: 3rem;

    &.open {
      display: block;
    }
  }

  .dep1A {
    display: block;
    line-height: 1.4;
    padding: 1rem 0;

    &.subYes::after {
      display: block;
    }
  }

  .dep2Ul {
    display: none;
    position: static;
    transform: none;
    width: 100%;
    padding: 2rem;
    text-align: left;
    background: variables.$color-secondary-200;
    border: none;
    box-shadow: none;

    &.subOpen {
      display: block;
    }
  }

  .dep2A {
    position: relative;
    padding: 5px 0 5px 15px;

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: variables.$border-radius-circle;
      background: variables.$color-primary-100;
    }
  }
}
